<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbt.commonlib" >
    <application
        android:name="com.bbt.commonlib.LibApplication"
        >

        <!--util 工具类相关的-->
        <provider
            android:name=".operationutil.UtilsFileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>
    </application>

</manifest>
